<div class="tariff-settings">
    <mat-card>
        <table>
            <tr *ngFor="let phase of processor.phasesGroup.phases; let i=index">
                <td>
                    <mat-form-field>
                        <input matInput placeholder="Название" [(ngModel)]="phase.title" type="text">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="factor-input">
                        <input matInput mat-input placeholder="Коэффициент"
                            [(ngModel)]="phase.factor" type="number" min="0" step="0.5">
                    </mat-form-field>

                </td>
                <td><button mat-raised-button color="primary" (click)="processor.removePhase(i)">Удалить</button></td>
            </tr>
        </table>
        <button mat-raised-button color="primary" (click)="processor.addPhase('Новая зона', 1)">Добавить</button>
    </mat-card>
    <mat-card>
        <table *ngIf="processor.tariff.costs.length > 1">
            <tr *ngFor="let tariff of processor.limitedCosts(); let i=index">
                <td>до</td>
                <td>
                    <mat-form-field class="tariff-limit-input">
                        <input matInput mat-input [(ngModel)]="tariff.limit" type="number" min="0">
                    </mat-form-field>
                    кВт·ч
                </td>
                <td>
                    <mat-form-field class="tariff-cost-input">
                        <input matInput mat-input [(ngModel)]="tariff.cost" type="number"
                            min="0">
                    </mat-form-field>
                    коп.
                </td>
                <td><button mat-raised-button color="primary" (click)="processor.removeLimit(i)">Удалить</button></td>
            </tr>
            <tr>
                <td>больше</td>
                <td>
                    <mat-form-field class="tariff-limit-input">
                        <input matInput mat-input
                            [(ngModel)]="processor.tariff.costs[processor.tariff.costs.length - 2].limit" type="number" min="0">
                    </mat-form-field>
                    кВт·ч
                </td>
                <td>
                    <mat-form-field class="tariff-cost-input">
                        <input matInput mat-input
                            [(ngModel)]="processor.tariff.costs[processor.tariff.costs.length - 1].cost" type="number" min="0">
                    </mat-form-field>
                    коп.
                </td>
            </tr>
        </table>
        <div *ngIf="processor.tariff.costs.length == 1">
            1 кВт·ч
            <mat-form-field>
                <input matInput [(ngModel)]="processor.tariff.costs[0].cost" type="number" min="0">
            </mat-form-field>
            коп.
        </div>
        <button mat-raised-button color="primary" (click)="processor.addLimit()" type="button">Добавить</button>
        <button class="reset-btn" mat-raised-button color="accent" (click)="resetTariff()">Сбросить</button>
    </mat-card>
</div>
