<div class="calculator">
    <mat-card>
        <div *ngFor="let phase of processor.phasesGroup.phases; let i=index">
            <mat-form-field>
                <input matInput type="number" min="0" [placeholder]="phase.title" [(ngModel)]="processor.consumptions[i]">
            </mat-form-field>
            кВт·ч
        </div>
        <div>
            <strong>К оплате: </strong>{{processor.calculate() | uah}}
        </div>
    </mat-card>
    <mat-card class="zone-switches">
        <button mat-raised-button class="select-zone-btn" color="primary"
            *ngFor='let phasesGroup of avaliabePhasesGroups; let id = index'
            (click)="selectPhasesGroup(id)">{{phasesGroup.name}}</button>
    </mat-card>
</div>